{% extends 'base.html' %} 
{% block title %} 
  Список
{% endblock title %} 
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    {% for item in page_obj %}
      <article>
        <ul>
          <li>Имя: {{ item.first_name }}</li>
          <li>Фамилия: {{ item.last_name }}</li>
          <li>Возраст: {{ item.age }}</li>
          <li>Статус: {{ item.status }}</li>
          <li>Хозяин: {{ item.master }}</li>
          <li>Доход: {{ item.income }}</li>
        </ul>
      </article>
      <a class="btn btn-success" href="{% url 'citizens:citizen_detail' item.id %}">
        Подробно
      </a>
      {% if not forloop.last %}
        <hr />
      {% endif %} 
    {% endfor %} 
    {% include 'citizens/includes/paginator.html' %}
  </div>
{% endblock content %}
